<!DOCTYPE html>

<html ng-app="walkApp" ng-controller="WalkController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>{{ title }}</title>
    <link rel="canonical" href="{{ canonical }}" />
    <link rel="canonical" href="/" type="text/html" />
    <link ng-href="{{themeUri}}" rel="stylesheet" />
    <script src="//www.google.com/jsapi"></script>
    <script src="//maps.google.com/maps/api/js?libraries=geometry,drawing"></script>
    <base href="/"  />
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" id="nav" role="navigation">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
            <a class="navbar-brand" href="/">walklog</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-content">
            <ul class="nav navbar-nav">
		<li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			Path
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li><a ng-click="showAdmin()"  href="javascript:void(0)">new walk...</a></li>
			<li role="separator" class="divider"></li>
			<li><a ng-click="editable = true;"  href="javascript:void(0)">edit</a></li>
			<li><a ng-click="deletePath()"  href="javascript:void(0)">delete</a></li>
			<li><a ng-click="deleteAll()" href="javascript:void(0)">clear</a></li>
			<li><a ng-click="showModal()" href="javascript:void(0)" >export/import...</a></li>
			<li role="separator" class="divider"></li>
			<li class="dropdown-header">Length: <span id="length">{{selectionLength | number:2}}</span>km</li>
                    </ul>
		</li>
		<li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			Map
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li><a ng-click="showGeocode()" href="javascript:void(0)">geocode...</a></li>
			<li><a ng-click="currentPosition()" href="javascript:void(0)">current position</a></li>
		    </ul>
		</li>		    
		<li class="dropdown" ng-show="searchForm.filter == 'cities'">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			Cities
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li><a ng-click="resetCities()"  href="javascript:void(0)">reset</a></li>
                    </ul>
		</li>
		<li class="dropdown" ng-show="searchForm.filter == 'neighborhood'">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			Neighborhood
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li><a ng-click="setRadius(1000)"  href="javascript:void(0)">radius: 1km</a></li>
			<li><a ng-click="setRadius(500)"  href="javascript:void(0)">radius: 500m</a></li>
			<li><a ng-click="setRadius(250)"  href="javascript:void(0)">radius: 250m</a></li>
			<li><a ng-click="setRadius(100)"  href="javascript:void(0)">radius: 100m</a></li>
                    </ul>
		</li>
		<li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			View
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li><a ng-click="showElevation()" href="javascript:void(0)">with elevation</a></li>
			<li><a ng-click="showPanorama()" href="javascript:void(0)">with street view</a></li>
			<li><a ng-click="currentService = 'none'" href="javascript:void(0)" >map only</a></li>
                    </ul>
		</li>
		<li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
			Theme
			<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
			<li ng-repeat="th in themes"><a ng-click="$parent.setTheme(th);" href="javascript:void(0)" title="{{$parent.getThemeTitle(th)}}">{{th}}</a></li>
                    </ul>
		</li>
            </ul>
	</div>
    </div>
    <div id="main-row" class="open">
        <div id="side" class="panel">
	    <div class="controls">
		    <a href="javascript:void(0);" aria-foldedopen="false" aria-controls="side" class="btn btn-primary btn-sm" ng-click="toggleSide();"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
	    </div>
	    <div class="sidebar">
		    <form class="form-horizontal" role="form">
			    <input type="hidden" name="latitude" value="{{searchForm.latitude}}" />
			    <input type="hidden" name="longitude" value="{{searchForm.longitude}}" />
			    <input type="hidden" name="radius" value="{{searchForm.radius}}" />
			    <input type="hidden" name="cities" value="{{searchForm.cities}}"  />
			    <input type="hidden" name="search_path" value="{{searchForm.searchPath}}"  />
			    <div id="filterBox" class="form-group">
				    <div class="col-xs-offset-1 col-xs-10">
					    <select ng-model="searchForm.filter" class="form-control">
						    <option value="any">Filter</option>
						    <option value="neighborhood">Neighborhood</option>
						    <option value="cities">Cities</option>
						    <option value="hausdorff">Hausdorff</option>
						    <option value="crossing">Crossing</option>
					    </select>
				    </div>
			    </div>
			    <div class="form-group">
				<div class="col-xs-offset-1 col-xs-5">
					    <select ng-model="searchForm.month" class="form-control">
						    <option value="">Month</option>
						    <option value="1">Jan</option>
						    <option value="2">Feb</option>
						    <option value="3">Mar</option>
						    <option value="4">Apr</option>
						    <option value="5">May</option>
						    <option value="6">Jun</option>
						    <option value="7">Jul</option>
						    <option value="8">Aug</option>
						    <option value="9">Sep</option>
						    <option value="10">Oct</option>
						    <option value="11">Nov</option>
						    <option value="12">Dec</option>
					    </select>
				    </div>
				    <div class="col-xs-5">
					    <select ng-model="searchForm.year" class="form-control">
						    <option value="">Year</option>
						    <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
					    </select>
				    </div>
			    </div>
			    <div class="form-group">
				<div class="col-xs-offset-1 col-xs-6">
					    <select ng-model="searchForm.order" class="form-control">
						    <option value="newest_first" ng-if="searchForm.filter != 'hausdorff'">newest first</option>
						    <option value="oldest_first" ng-if="searchForm.filter != 'hausdorff'">oldest first</option>
						    <option value="longest_first" ng-if="searchForm.filter != 'hausdorff'">longest first</option>
						    <option value="shortest_first" ng-if="searchForm.filter != 'hausdorff'">shortest first</option>
						    <option value="easternmost_first" ng-if="searchForm.filter != 'hausdorff'">easternmost first</option>
						    <option value="westernmost_first" ng-if="searchForm.filter != 'hausdorff'">westernmost first</option>
						    <option value="southernmost_first" ng-if="searchForm.filter != 'hausdorff'">southernmost first</option>
						    <option value="northernmost_first" ng-if="searchForm.filter != 'hausdorff'">northernmost first</option>
						    <option value="nearest_first" ng-if="searchForm.filter == 'hausdorff'">nearest first</option>
					    </select>
				    </div>
				    <div class="col-xs-4">
					    <input type="text" ng-model="searchForm.limit"  class="form-control" />
				    </div>
			    </div>
			    <div  class="form-group">
				    <div class="col-xs-offset-2 col-xs-8">
					    <button ng-click="search()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>search</button>
					    <input type="reset" value="reset" class="btn" />
				    </div>
			    </div>
		    </form>
		    <p id="message" class="well well-sm col-xs-offset-1 col-xs-10" ng-show="walks != null">
			    <strong ng-switch on="total_count">
				    <span ng-switch-when="null">successfully saved</span>
				    <span ng-switch-when="0">No results</span>
				    <span ng-switch-when="1">1 / 1 item</span>
				    <span ng-switch-default>{{ walks.length }} / {{ total_count }} items</span>

			    </strong> : <button ng-click="showPaths()" ng-show="walks.length > 0" class="btn" ><span class="glyphicon glyphicon-map-marker"></span>show all</button>
			    <label class="radio-inline" ng-show="walks[0].distance != undefined">
				    <input type="checkbox" name="" ng-model="show_distance" value="" />show hausdorff distance</label>
		    </p>
		    <div class="table-wrapper">
		    <table class="table table-condensed table-striped table-hover">
			    <tbody id="tbody">
				    <tr ng-repeat="item in walks" ng-click="$parent.currentIndex = $index">
					    <td class="hidden-xs id">{{ $index + 1 }}</td>
					    <td class="date">{{item.date}}</td>
					    <td class="name"><div>{{item.title}}</div></td><td class="way">{{show_distance && item.distance !== undefined ? item.distance : item.length | number:1  }}</td>
				    </tr>

			    </tbody>
		    </table>
		    </div>
		    <button class="btn btn-primary btn-more col-xs-offset-3 col-xs-6" ng-show="params" ng-click="getNext(params)">more</button>
	    </div>
        </div><!-- /side -->

        <div id="main">
            <div my-map id="map"></div>
            <div id="elevation-box" ng-show="currentService == 'elevation'">
                <button class="close" ng-click="closeService()">&times;</button>
                <div class="body" my-elevation></div>
            </div>
            <div id="panorama-box" ng-show="currentService == 'panorama'">
                <button class="close" ng-click="closeService()">&times;</button>
                <div class="body" my-panorama></div>
                <div class="controls">
                    <button class="btn btn-sm" ng-click="backwardPanorama()"><span class="glyphicon glyphicon-fast-backward"></span></button>
                    <button class="btn btn-sm" ng-click="prevPanorama()"><span class="glyphicon glyphicon-step-backward"></span></button>
                    <span class="label label-info"><span>{{panoramaIndex}}</span> / <span>{{panoramaCount}}</span></span>
                    <button class="btn btn-sm" ng-click="nextPanorama()"><span class="glyphicon glyphicon-step-forward"></span></button>
                    <button class="btn btn-sm" ng-click="forwardPanorama()"><span class="glyphicon glyphicon-fast-forward"></span></button>

                </div>
            </div>
	    <div id="comment-box" ng-show="currentService == 'comment'">
		<div class="control">
                    <button class="btn btn-sm" ng-click="currentIndex = currentIndex - 1" ng-disabled="currentIndex <= 0"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    <button class="btn btn-sm" ng-click="currentIndex = currentIndex + 1" ng-disabled="currentIndex >= walks.length - 1"><span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>
                <button class="close" ng-click="closeService()">&times;</button>
		<div class="body">
		    <button id="editButton" class="btn btn-xs btn-danger" aria-hidden="true" type="button" ng-click="showAdmin(currentData, $event)"><span class="glyphicon glyphicon-pencil"></span></button>
		    <div id="twitter_div" data-hashtags="walklog">
		    </div>	    
		    <h2 class="h5">{{comment_title}}</h2>
		    <div ng-bind-html="comment_body"></div>
		</div>
        </div><!-- /main -->
    </div><!-- /main-row -->
    <div my-modal class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Export/Import</h4>
                </div>
                <div class="modal-body">
                    <textarea ng-model="path_json" placeholder="input text or drag JSON file."></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="importJSON(path_json)">Import</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="modal-move" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Geocode</h4>
                </div>
                <div class="modal-body">
		    <div class="form-group">
                        <label class="control-label col-xs-2">address</label>
			<input type="text" class="form-inline-control col-xs-10" ng-model="address" ng-keypress="$event.keyCode == 13 ? geocoderSearch(address) : false">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="geocoderSearch(address)">Move to</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div my-admin class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span ng-if="!selection.id">New Walk</span><span ng-if="selection.id">Update Walk</span></h4>
                </div>
                <form ng-sbmit="save()" class="form-horizontal" role="form">
                  <input type="hidden" ng-model="selection.id" class="form-control" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="date">date</label>
                            <div class="col-xs-9">
                                <input type="text" name="date" ng-model="selection.date" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="title">title</label>
                            <div class="col-xs-9">
                                <input type="text" name="title" ng-model="selection.title" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" for="comment">comment<br />(markdown)</label>
                            <div class="col-xs-9">
                                <textarea name="comment" ng-model="selection.comment" class="form-control" ></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-show="selection.id">
                            <div class="col-xs-9 col-xs-offset-3">
                            <input type="checkbox"  ng-model="update_path" ng-disabled="update_path_disabled" class="form-inline-control" />
                            <label class="control-label" for="update_path">update path?</label>
                            </div>
                        </div>
                    </div>
                    <div  class="modal-footer">
                        <button ng-click="save()" class="btn btn-primary"><span class="glyphicon glyphicon-record"></span><span ng-if="!selection.id">create</span><span ng-if="selection.id">update</span></button>
                        <button ng-if="selection.id" ng-click="destroy()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
