name: run test
on: pull_request
permissions:
  contents: read
  pull-requests: write
  checks: write
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24.x'
    - name: pnpm-setup
      uses: pnpm/action-setup@v4
      with:
        version: 10
        run_install: true
    - name: run eslint
      run: pnpm lint
    - name: run jest
      uses: ArtiomTr/jest-coverage-report-action@262a7bb0b20c4d1d6b6b026af0f008f78da72788 # v2.3.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        test-script: "pnpm test"
        working-directory: web
        skip-step: install
